@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600&display=swap');

html {
    font-family: 'Poppins',san-serif;  
}

body {
  display: flex;
  justify-content: space-around; 
}

/* No BEM */
.card-light {
  background-color: #eee;
  margin: 2em;
  max-width: 300px;
  padding: 2em;
  box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.4); }

img {
  width: 100%; }

.card-dark {
  background-color: #332f2f;
  margin: 2em;
  max-width: 300px;
  padding: 2em;
  color: white;
  box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.4); }

/* Global Shared Styles */
.card {
  margin: 2em;
  max-width: 300px;
  padding: 2em;
  box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.4); }
  .card__h2 {
    font-size: 32px; }
  .card__paragraph {
    font-size: 24px; }

.card--light {
  background-color: rgba(238, 236, 134, 0.8); }

.card--dark {
  background-color: rgba(51, 47, 47, 0.8); }
