
body {
    display: flex;
    justify-content: space-around;
}

/* No BEM */



.card-light {
    background-color: #eee;
    margin: 2em;
    max-width: 300px;
    padding: 2em;
    box-shadow:  0 20px 30px -20px rgba(0,0,0,0.4);
}

img {
    width: 100%;
}

.card-dark {
    background-color: #332f2f;
    margin: 2em;
    max-width: 300px;
    padding: 2em;
    color: white;
    box-shadow:  0 20px 30px -20px rgba(0,0,0,0.4);
}

/* Global Shared Styles */

$color-primary-light: #eeec86;
$color-primary-dark: rgba(51,47,47,0.4);

.card {
    margin: 2em;
    max-width: 300px;
    padding: 2em;
    box-shadow:  0 20px 30px -20px rgba(0,0,0,0.4);

}

.card--light {
    background-color: rgba($color-primary-light,0.8);
}

.card--dark {
    background-color: rgba($color-primary-dark,0.8);
}